<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Register_Servlet</servlet-name>
        <servlet-class>Pharmacy_Package.Register_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inter1</servlet-name>
        <servlet-class>Pharmacy_Package.Inter1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Company</servlet-name>
        <servlet-class>Pharmacy_Package.Company</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_company</servlet-name>
        <servlet-class>Pharmacy_Package.add_company</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Drugs</servlet-name>
        <servlet-class>Pharmacy_Package.Drugs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sales</servlet-name>
        <servlet-class>Pharmacy_Package.Sales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Drug</servlet-name>
        <servlet-class>Pharmacy_Package.Add_Drug</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saleinvoice</servlet-name>
        <servlet-class>Pharmacy_Package.saleinvoice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sales_register</servlet-name>
        <servlet-class>Pharmacy_Package.Sales_register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bill_info</servlet-name>
        <servlet-class>Pharmacy_Package.bill_info</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Pharmacy_Package.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>Pharmacy_Package.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CP</servlet-name>
        <servlet-class>Pharmacy_Package.CP</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register_Servlet</servlet-name>
        <url-pattern>/Register_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inter1</servlet-name>
        <url-pattern>/Inter1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Company</servlet-name>
        <url-pattern>/Company</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_company</servlet-name>
        <url-pattern>/add_company</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Drugs</servlet-name>
        <url-pattern>/Drugs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sales</servlet-name>
        <url-pattern>/Sales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Drug</servlet-name>
        <url-pattern>/Add_Drug</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saleinvoice</servlet-name>
        <url-pattern>/saleinvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sales_register</servlet-name>
        <url-pattern>/Sales_register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bill_info</servlet-name>
        <url-pattern>/bill_info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CP</servlet-name>
        <url-pattern>/CP</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login.html</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>email</param-name>
        <param-value>18bce116@nirmauni.ac.in</param-value>
    </context-param>
    <context-param>
        <param-name>name</param-name>
        <param-value>NIHAR MARKANA</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>Nihar@2001</param-value>
    </context-param>
</web-app>
